#word1{
    width: 336px;
    height: 336px;
    border: 10px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -178px
}
body{
    font-size:0px;
}
button{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgba(28, 98, 163, 0.767);
    z-index: 5;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 2px;

}
#op{
    width: 120px;
    height: 50px;
    color: white;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 70px;
    margin-left: -140px
}
#op2{
    width: 160px;
    height: 50px;
    color: white;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 70px;
    margin-left: -10px;
}
#blank{
    color: rgba(17, 104, 21, 0.767);
    visibility: hidden;
}
#mark{
    color: gray;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 140px;
    margin-left: -110px;
}
#link{
    color: gray;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 158px;
    margin-left: -72px;
}